	div {border: 1px solid black;
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 150px;
		margin-left: 80px;
		background-color: black;
		color:cyan;}
}
	h2{text-align:center;}
	
	/*margin short-hand property order is top, right, bottom, left*/
	p.four{margin:50px 100px 70px 40px;}
	p.three{margin:100px 70px 40px;}
	p.two{margin:70px 40px;}
	